body{
background-color: rgba(75, 75, 100);
font-size: 35;
font-family: "Open Sans", sans-serif;
margin: 0%;
}
.bar{
padding-left: 2vw;
padding-top: 1vw;
width: 98vw;
background-color: rgb(50, 50, 75);
}
.flex-container{


height: 100vw;
width: 100vw;
align-content: space-between;
justify-content: center;

text-align: center;
}

.flex-container img{
width: 25vw;

}

.card {
    display: flex;
    background-color: rebeccapurple;
    border-radius: 10px;
    width: 25vw;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    height: 400px;
    
  }
  .card:hover {
    animation-play-state: running;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}



.grow {

    

padding: 5px 5px 5px 5px;
border-radius: 10px;
height: 20vw;

margin: 5px 1% 5px 1%;


transition: height 2s;
overflow:hidden;


transform-origin: 49% 49%;
    transform-box: fill-box;

}
.grow:hover {
  
  height: 50vw;
  
  
}

.grow:hover div{
    position: relative;
    top:150px;

    transform: scale(2);
    transition: transform 1.05s ease-in-out;
    
}