body{
background-color: rgba(75, 75, 100);
font-size: 5vw;
font-family: "Open Sans", sans-serif;
margin: 0%;
}
.top-bar{
padding-left: 2vw;
padding-top: 1vw;
width: 98vw;
background-color: rgb(50, 50, 75);
}
.flex-container{
/*display: flex;*/
height: 100vw;
width: 100vw;
align-content: space-between;
justify-content: center;

text-align: center;
}

.flex-container img{
width: 25vw;

}

.card {
    display: flex;
    background-color: rebeccapurple;
    border-radius: 10px;
    width: 25vw;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    height: 400px;
    
  }
  .card:hover {
    animation-play-state: running;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
  }
}



.grow {
/*display: flex;*/
padding: 1vw 1vw 1vw 1vw;
border-radius: 10px;
height: 20vw;
transition: height 2s;
overflow:hidden;
/*transform-origin: 49% 49%;*/
transform-box: fill-box;
}
.grow:hover {
height: 75vw;
}

.grow:hover div{
position: relative;
top:15vw;
transform: scale(2);
transition: transform 1.05s ease-in-out;   
}